*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dessert{
    background-image: url(img/Mini-sandwich\,cupcake.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.dessert h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.dessert ul{
    list-style-type: none;

}