*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 25px;
}

.coffee{
    background-image: url(img/latte.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.coffee h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.coffee ul{
    list-style-type: none;

}

.drinks{
    background-image: url(img/drinks.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.drinks h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.drinks ul{
    list-style-type: none;

}

.dessert{
    background-image: url(img/Mini-sandwich\,cupcake.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.dessert h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.dessert ul{
    list-style-type: none;

}


.burger{
    background-image: url(img/4.Happy-Fries.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.burger h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.burger ul{
    list-style-type: none;

}


.pasta{
    background-image: url(img/pasta-piza.avif);
   background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    padding: 100px;
    line-height: 2.5;

}

.pasta h5{
    font-style: italic;
    text-decoration: cadetblue;
    font-size: 40px;
    text-shadow: 5px 5px 7px blanchedalmond;
    
}

.pasta ul{
    list-style-type: none;

}