body{
    font-size: 25px;
    font-style: oblique;
    background-color:  #f5e9ff;
    text-align: center;
    text-shadow: pink;
}

button{
    background-color: mediumvioletred;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover{
    background-color: hotpink;
    transform: scale(1.05);
}