*{
    background-color: #f5e9ff;
}

h2{
    text-shadow: 2px 2px 5px rgb(154, 66, 178);
}

.gallery{
    border: 1px solid black;
    margin: 20px;
    width: 200px;
    transition: 0.3s;
    overflow: hidden;
    
}
.gallery .description{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.gallery:hover{
    border: 1px solid pink;
    transform: scale(1.05);
}
.gallery img{
    width: 100%;
    height: auto;

}